.container{
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

.title-row{
    display: flex;
    align-items: center;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 10px 10px;
}