.profile-container{
    margin-top: 20px;
    font-size: 1.1em;
}

.profile-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}

.profile-header a{
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.selected{
    border-bottom: 1px solid red;
}

.profile-body{
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
}

.profile-bio{
    text-align: center;
    width: 25%;
}

.bio-image{
    position: relative;
    cursor: hand;
}

.overlay-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.bio-image:hover{
    opacity: 0.5;
}

.bio-image:hover .overlay-image{
    opacity: 1;
}

.contact-box{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

.contact-edit-box{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    display: none;
}

.icon-col{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-detail{
    width: 75%;
    padding: 25px 100px 100px 50px;
    position: relative;
}

.add-btn{
    width: fit-content;
    color: blue; 
    margin-left: auto;
}

.add-btn:hover{
    cursor: hand;
    text-decoration: underline;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.add-profile-form{
    width: 90%;
}

.add-profile-form td{
    padding: 5px 0;
}

.form-input{
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.form-btn-box{
    margin-top: 30px;
    text-align: right;
}

.error-msg{
    color: red;
    font-size: 0.7em;
    margin-left: 30%;
    margin-top: 5px;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.col-25{
    width: 30%;
}

.col-75{
    width: 70%;
}

.row-1, .row-2, .row-3{
    display: flex;
    align-items: center;
    position: relative;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.COL-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
}

.delete-btn{
    position: absolute;
    right: 0;
    color: blue;
}

.delete-btn:hover{
    text-decoration: underline;
    cursor: hand;
}

.experience-table{
    margin-top: 20px;
    font-size: 0.8em;
}
