.profile-container{
    margin-top: 20px;
    font-size: 1.1em;
}

.profile-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
}

.profile-header a{
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.selected{
    border-bottom: 1px solid red;
}

.profile-body{
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
}

.profile-bio{
    text-align: center;
    width: 25%;
}

.contact-box{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

.icon-col{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-detail{
    width: 75%;
    padding: 25px 100px;
    position: relative;
}

.add-btn{
    width: fit-content;
    color: blue; 
    margin-left: auto;
}

.add-btn:hover{
    cursor: hand;
    text-decoration: underline;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.add-profile-form{
    width: 90%;
}

.add-profile-form td{
    padding: 5px 0;
}

.form-input{
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.input-error{
    border: 1px solid red;
}

.input-error::placeholder{
    color: red;
}

.form-btn-box{
    margin-top: 30px;
    text-align: right;
}

.error-msg{
    color: red;
    font-size: 0.7em;
    margin-top: 3px;
}
