.search-container{
    background-image: url("https://image.freepik.com/free-photo/nice-watercolor-background_24837-261.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20% 100px 20%;
}

.search-form{
    width: 100%;
}

.searchbar{
    width: 80%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 15px;
}

/*
.input-icon{
    position: absolute; 
    top: 50%; 
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/

.search-btn{
    width: 15%; 
    height: 100%;
    background: rgb(55, 115, 212);
    border: none;
    border-radius: 7px;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}

.search-btn:hover{
    background: rgb(70, 130, 227);
}

.home-body{
    background: rgb(242, 242, 242);
    padding: 100px 20%;
    height: 100%;
}