

.button {
  background-color:#ffffff;
  border-style: solid;
  border-radius:50px;
  border:2px solid #478ac9;
  display:inline-block;
  cursor:pointer;
  color:#478ac9;
  font-family:Calibri;
  font-size:2rem;
  font-weight: 600;
  padding:10px 30px;
  margin: 50px auto 50px auto;
  text-decoration:none;
  letter-spacing: 1px;
}
.button:hover {
  background-color:#478ac9;
  color:#ffffff;
}
.button:active {
  position:relative;
  top:1.5px;
}


.section-1{
  height: auto;
  margin: auto;
/*  border: 1px solid;
  border-color: black;*/
}